In [3]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [4]:
df = pd.read_csv('Processed_Data.csv')
df

,Unnamed: 0,Sex,Age,Height,Weight,Year,Winner,AFG,AHO,ALB,...,YEM,YMD,YUG,ZAM,ZIM,Athletics,Cycling,Rowing,Shooting,Swimming
0,11,1,18,168,71,1932,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,27,0,31,189,130,2000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,52,0,24,174,70,1936,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,53,0,23,180,71,1912,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,56,0,30,187,76,2012,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71171,196524,1,19,165,65,2016,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
71172,196525,0,22,173,66,1992,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
71173,196526,0,26,173,66,1996,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
71174,196683,0,31,181,70,1960,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
71175,196684,0,35,181,70,1964,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [5]:
rf = RandomForestClassifier(random_state=42)
rf

RandomForestClassifier(random_state=42)

In [6]:
X_train = df[df['Year']<2016].drop('Winner', axis=1)
X_test = df[df['Year']==2016].drop('Winner', axis=1)
y_train = df[df['Year']<2016]['Winner']
y_test = df[df['Year']==2016]['Winner']

In [8]:
rf.fit(X_train, y_train)
# rf.predict(X_test, y_test)

RandomForestClassifier(random_state=42)